#body_index{
    margin: 0;
    max-width: 100vw;
}

#body_residencial{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#body_about{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


#navegador{
    width: 100vw;
    height: 10vw;
    background-color: rgba(0, 3, 2, 0.936);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 2;
}
#logo{
    width: 11.25rem;
    margin-left: 4.7rem;
    margin-right: 25rem;
}

a{
    text-decoration: none;
    color: rgb(20, 237, 201);
    padding: 15px;
}

li a:hover{
    background-color: rgba(3, 107, 242, 0.297);
    border-radius: 2rem;
}

.botones_contacto:hover{
    transform: rotate(5deg) scale(1.5);
}

#lista{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 23px;
    color: rgb(20, 237, 201);

}

.pepe_principal{
    margin: auto;
}

#pepe_principal{
    background-image: url(imagenes/residencial1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-name: animacion1;
    animation-duration: 5s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    width: 100vw;
    padding-top: 4rem;
    padding-bottom: 11rem;
    margin-bottom: 0;
}
@keyframes animacion1 {
    0%{background-image: url(imagenes/lampara_comercial.jpg);}
    50%{background-image: url(imagenes/mantenimiento.jpg);}
    100%{background-image: url(imagenes/residencial1.jpg);}
}


#pepelectric{
    position: relative;
    background-color: rgba(36, 204, 238, 0.697);
    width: 30.5vw;
    padding: 1.5rem;
    margin-bottom: 0;
    margin: auto;
    font-size: 2.5rem;
    color: white;
    margin-top: 4rem;
    text-shadow: 0 .3rem .1rem black;
}

#pepe_1{
    position: relative;
    background-color: rgba(6, 6, 6, 0.702);
    width: fit-content;
    padding: 1rem;
    color: white;
    font-size: 6rem;
    margin-top: 0;
    margin: auto;
    animation: fromRight 1.5s ease;
    transform-origin: center;
    text-shadow: 0 1rem .25rem black;
}


@keyframes fromRight{
    from{
        right: -100%;}
    to{
        right: 0;
    }
    }

#pepe_2{
    position: relative;
    background-color: rgba(25, 131, 95, 0.493);
    width: fit-content;
    padding: 15px;
    color: white;
    font-size: 80px;
    margin-top: 0;
    margin: auto;
    border-radius: .5rem;
    padding: 2rem;
    text-shadow: 0rem .6rem .25rem #0c0c0c;
    
    }
    
#pepe_2, #pepelectric{
    animation: fromLeft 1.5s ease;
}

@keyframes fromLeft{
    from {
        left: -100%;}
    to{
        left:0
    }
    }

#menu_vertical{
    display: none;
    position: absolute;
    top: 70%;
    padding: 1rem 0 1rem 0;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: .5rem;
}

#lista li:hover #menu_vertical{
    display: block;
    text-decoration: none;
    list-style: none;
    margin-bottom: 15px;
}
#lista_contenedor #menu_vertical li {
    margin-bottom: 1rem;
}
#seccion_contacto{
    display: flex;
    background-image: url(imagenes/pared_foco.avif);
    padding-top: 100px;
    margin-top: 0;
    height: 500px;
}

#contacto{
    color: rgb(10, 10, 10);
    font-size: 50px;
}

#contacto_div{
    height: 450px;
    width: 360px;
    background-color: #060606b5;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 50px;
    padding-right: 50px;
    border-radius: 15px;

}

#body_contacto{
    width: 100%;
    margin: 0;
    margin-bottom: 0;

}

@keyframes animacion {
    0%{background-image: url(imagenes/lampara_comercial.jpg);}
    50%{background-image: url(imagenes/mantenimiento.jpg);}
    100%{background-image: url(imagenes/residencial1.jpg);}
}

#telefono{
    background-color: rgba(126, 249, 208, 0.108);
    border-radius: 15px;
    width: fit-content;
    padding: 30px;
    margin-left: 30px;
    color: white;
}

#titulo_cont{
    width: 310px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 50px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    
    color: rgba(249, 248, 248, 0.976);
}

.iconos_contacto{
    width: 100vw;
    display: flex;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.79);
    margin: auto;
    justify-content: space-evenly;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: auto;
    background-color: #060606b5;
    padding: 50px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

input{
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px;
}

textarea{
    border-radius: 10px;
    margin-bottom: 15px;
}

#enviar{
    margin-top: 25px;
    background-color: #cf8655;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    margin: auto;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

#enviar:hover{
    color: #495ebd;
}

#deje_mensaje{
    color: whitesmoke;
    margin-top: 0px;
}

#seccion_contacto{
    background-repeat: none;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

.botones_contacto{
    width: 100px;
    text-align: center;
    align-content: center;
}

#area_cobertura{
    width: 400px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.531);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

#how{
    background-image: url(imagenes/atico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:unset;
    background-attachment: fixed;
    margin: 0;
    animation-name: animacion;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 60px;
    background-color: rgba(36, 204, 238, 0.697);
    color: white;
    text-align: end;
    margin-top: 0;
    padding-top: 50px;
    height: 500px;
}
.emergency{
    background-color: rgba(36, 204, 238, 0.314);
    text-align: center;
    color: white;
    font-size: 2rem;
    width: 100vw;
    padding-top: 2rem;
    padding: 2rem 0 2rem 0;
    background-image: url(imagenes/pared_foco.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0rem .7rem .25rem #0c0c0c;
    }

#eme24{
    background-color: #0a0a0a83;
    width: fit-content;
    padding: 3rem;
    margin: auto;
    border-radius: .5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    animation-name: animacion;
    animation-duration: .6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
    box-shadow: .5rem .7rem .7rem hsla(100, 0%, 0%, 1);
}
@keyframes animacion{
    from{
        background-color: #0a0a0a83;
    }
    to{
        background-color: rgba(36, 204, 238, 0.697);
    }
}

.seccion_final{
    background-image: url(imagenes/pared_foco.avif);
    background-position: center;
}

.seccion_final_index{
    width: 100vw;
    margin-top: 50px;
    background-image: url(imagenes/pared_foco.avif);
    background-position: center;
}
footer {
    background-color: rgb(26, 6, 2);
    color: rgb(195, 202, 209);
    text-align: center;
    padding: 0.5em 0 0.5rem 0;
    margin-top: 0;
    font-size: 1.2rem;
    width: 100vw;
}



#titulo_about{
    background-color: rgba(36, 204, 238, 0.697);
    background-image: url(imagenes/colores.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding-bottom: 30px;
    height: 450px;
    padding-top: 50px;
    font-size: 60px;
    color: white;
    text-align: start;
    padding-right: 100px;
    padding-left: 10rem;
}
#about_titulo{
    background-color: #49bd94a6;
    width: fit-content;
    padding: 1rem;
    border-radius: .5rem;
}
#seccion_about{
    margin-top: 70px;
    margin-bottom: 70px;
}
#history{
    font-size: 30px;
    width: fit-content;
    padding: 15px;
    color: rgb(6, 6, 6);
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.156);
}

#parrafo_about{
    color: rgb(7, 7, 7);
    font-size: 20px;
    margin-left: 100px;
}

#parrafo_residencial{
    font-size: 24px;
    color: rgb(5, 5, 5);
    width: 80%;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
}

#div_residencial{
    background-image: url(imagenes/residencial1.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_reparacion{
    background-image: url(imagenes/herramientas.webp);
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_mantenimiento{
    background-image: url(imagenes/mantenimiento.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_iluminacion{
    background-image: url(imagenes/lampara_comercial.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_comercial{
    background-image: url(imagenes/comercial_foto.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}

#seccion_emergency_index{
    margin-top: 100px;
}

#seccion_emergency_index2{
    width: 100vw;
    margin-top: 0px;
    background-image: url(imagenes/pared_foco.avif);
}

#seccion_emergency_index3{
    margin-top: 0px;
}

.imagenes_boton{
    display: flex;
    width: max-content;
}

figure {
    margin-right: 0px; /* Margen entre cada imagen */
    position: relative; /* Para posicionar el título con respecto a la imagen */
    margin-left: 30px;
  }
  
  figure img {
    width: 200px; /* Tamaño fijo para todas las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15vmax;
    background-color: rgba(0, 0, 0, 0.795); /* Fondo semitransparente */
    color: white;
    padding: 0.3rem;
    margin: 0;
    font-size: 1.2rem;

  }
  .link_fotos:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.42);
  }
  .fotitos{
    width: 15vw;
    height: 25vh;
  }

  .fila {
    display: flex;
    width: 100vw;
  }

  .fila a:hover{
    background-color: #0c0c0c00;
    transform: scale(1.2);
    opacity: .5;
  }
  #menu_hamburguesa{
    display: none;
    border-radius: .5rem;
    background-color: rgb(73, 189, 148);
}


#contacto_titulo, #about_titulo{
    position: relative;
    background-color: rgba(73, 189, 148, 0.712);
    border-radius: .5rem;
    width: fit-content;
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    animation: fromLeft 1.5s ease;
    text-shadow: 0 1rem .25rem black;
}
@keyframes fromLeft{
    from{
        left: -100%;}
    to{
        left: 0;
    }
    }


  @media screen and (max-width: 768px) {
    #about_titulo{
        font-size: 100%;
        margin-left: 2rem;
    }
    #body_index{
        width: 100vw;
    }
    #body_contacto{
        width: 100vw;
        margin: 0;
    }
    #contacto_div{
        width: 100vw;
    }
    #body_contacto #navegador{
        width: 100vw;
    }
    #contacto_div{
        width: 80vw;
        margin-left: 15px;
        padding-bottom: 35px;
    }
    #seccion_contacto{
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 54.4rem;
    }
    #formulario{
        width: 67%;
        margin-left: 1rem;
    }
    #area_cobertura{
        width: 93%;
        margin-left: 1rem;
    }
    #contacto_global{
        background-image: url(imagenes/pared_foco.avif);
        background-size: contain;
        background-repeat:repeat-y;
        background-position: center;
    }
    #how{
        background-image: url(imagenes/electicista_telefono.jpg);
        background-position: center;
        background-size:80vmax;
        width: 96%,;
        font-size: 40px;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 0;
    }
    #titulo_about{
        font-size: 50px;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        background-color: rgba(36, 204, 238, 0.697);
        margin-bottom: 70px;
    }
    #seccion_about{
        width: 100%;
        margin: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: left;
    }

    #body_about{
        width: 100%;
    }

    #historia{
        margin-bottom: 50px;
    }

    #pepe_2{
        width: 80%;
        font-size: 45px;
    }
    #parrafo_residencial{
        width: fit-content;
        margin-left: 10px;
        margin: 10px; 
        text-align: left;
    }
    #pepelectric{
        margin-top: 2.5rem;
        width: 60vw;
        font-size: 1.2rem;

    }
    #pepe_1{
        width: 90%;
        font-size: 5rem;
    }
    #logo{
        width: 8rem;
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }

    #lista{
        display: none;

    }

    #lista_contenedor{
        margin-top: 3rem;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        background-color: #030303c8;
        text-align: center;
        align-content: center;
        margin-top: 13.5rem;
        padding: .5rem;
        padding-bottom: 1rem;
        width: 110%;
        border-radius: 0 0 .5rem .5rem;
        position: relative;
        left: 4.1rem;
    }

    #menu_vertical{
        background-color: rgb(3, 3, 0);
        top: 0rem;
        padding-top: 2rem;
        text-align: left;
        padding: 1rem 1rem 0 1rem;
        margin-top: 0rem;
        border-radius: 0.5rem;
    }

    #menu_hamburguesa{
        display: flex;
        text-align: center;
        margin-left: 2rem;
    }
    #lista.active {
        display: flex;
        flex-direction: column;
        background-color: none;
    }
    #navegador{
        display: flex;
        height: 7rem;
        margin: 0;
        top: 0;
        width: 90vw;
        padding-right: 10vw;
    }
    #body_index{
        width: 100vw;
        background-size: contain;
        margin: 0px;

    }

    .fila{
        display: flex;
        flex-direction: column;
    }
    .iconos_contacto{
        display: flex;
        padding-left: .7rem;
        align-content:center;
        width: 97.5vw;
    }
    .botones_contacto{
        width: 50vw;
        margin: 0;
        display: flex;
        align-items:center ;
        padding: 0;
        margin: 0;
    }
    #seccion_emergency_index2{
        margin-top: 0px;
        padding:1.5rem 0 1.5rem 0;
    }
    #history{
        text-align: left;
        padding-left: 10px;
        margin-left: 0px;
        width: 95%;
    }

    .emergency{
        font-size: 1rem;
        color: white;
        text-align: left;
        padding-left: 0.5rem;
        width: 98%;
        background-color: rgba(0, 0, 0, 0.44);
        text-shadow: 0rem .7rem .25rem #0c0c0c;
    }

    .fotitos{
        width: 100%;
    }
    figcaption{
        width: 39vmax;
    }

    footer{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 4vw;
    }
    .cuadro_final{
        width: 20rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    #about_titulo{
        font-size: 100%;
        margin-left: 2rem;
    }
    #body_index{
        width: 100vw;
    }
    #body_contacto{
        width: 100vw;
        margin: 0;
    }
    #contacto_div{
        width: 100vw;
    }
    #body_contacto #navegador{
        width: 100vw;
    }
    #contacto_div{
        width: 80vw;
        margin-left: 15px;
        padding-bottom: 35px;
    }
    #seccion_contacto{
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 54.4rem;
    }
    #formulario{
        width: 71%;
        margin-left: 1rem;
    }
    #area_cobertura{
        width: 90%;
        margin-left: 1rem;
    }
    #contacto_global{
        background-image: url(imagenes/pared_foco.avif);
        background-size: contain;
        background-repeat:repeat-y;
        background-position: center;
    }
    #how{
        width: 96%;
        font-size: 40px;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 0;
    }
    #titulo_about{
        font-size: 50px;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        background-color: rgba(36, 204, 238, 0.697);
        margin-bottom: 70px;
    }
    #seccion_about{
        width: 100%;
        margin: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: left;
    }

    #body_about{
        width: 100%;
    }

    #historia{
        margin-bottom: 50px;
    }

    #pepe_2{
        width: 80%;
        font-size: 45px;
    }
    #parrafo_residencial{
        width: fit-content;
        margin-left: 10px;
        margin: 10px; 
        text-align: left;
    }
    #pepelectric{
        margin-top: 2.5rem;
        width: 60vw;
        font-size: 1.2rem;

    }
    #pepe_1{
        width: 90%;
        font-size: 5rem;
    }
    #logo{
        width: 8rem;
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }

    #lista{
        display: none;
        margin-left: 0;
    }

    #lista_contenedor{
        margin-top: 3rem;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        background-color: #030303c8;
        text-align: center;
        align-content: center;
        margin-top: 13.5rem;
        padding: .5rem;
        padding-bottom: 1rem;
        width: 100%;
        border-radius: 0 0 .5rem .5rem;
        position: relative;

    }

    #menu_vertical{
        background-color: rgb(3, 3, 0);
        top: 0rem;
        padding-top: 2rem;
        text-align: left;
        padding: 1rem 1rem 0 1rem;
        margin-top: 0rem;
        border-radius: 0.5rem;
    }

    #menu_hamburguesa{
        display: flex;
        text-align: center;
        margin-left: 2rem;
    }
    #lista.active {
        display: flex;
        flex-direction: column;
        background-color: none;
    }
    #navegador{
        display: flex;
        height: 7rem;
        margin: 0;
        top: 0;
        width: 90vw;
        padding-right: 10vw;
    }
    #body_index{
        width: 100vw;
        background-size: contain;
        margin: 0px;

    }

    .fila{
        display: flex;
        flex-direction: column;
    }
    .iconos_contacto{
        display: flex;
        padding-left: .7rem;
        align-content:center;
        width: 97.5vw;
    }
    .botones_contacto{
        width: 50vw;
        margin: 0;
        display: flex;
        align-items:center ;
        padding: 0;
        margin: 0;
    }
    #seccion_emergency_index2{
        margin-top: 0px;
        padding:1.5rem 0 1.5rem 0;
    }
    #history{
        text-align: left;
        padding-left: 10px;
        margin-left: 0px;
        width: 95%;
    }

    .emergency{
        font-size: 1rem;
        color: white;
        text-align: left;
        padding-left: 0.5rem;
        width: 98%;
        background-color: rgba(0, 0, 0, 0.44);
        text-shadow: 0rem .7rem .25rem #0c0c0c;
    }

    .fotitos{
        width: 100%;
    }

    footer{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2vw;
    }
    .fotitos{
        width: 20rem;
        height: auto;

    }
    .fila{
        text-align: center;
    }
    figcaption{
        width: 37vmax;
        margin: auto;
        position: relative;
    }
  }