#body_index{
    margin: 0;
    max-width: 100vw;
}

#body_residencial{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#body_about{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

@keyframes animacion {
    0%{background-image: url(imagenes/lampara_comercial.jpg);}
    50%{background-image: url(imagenes/mantenimiento.jpg);}
    100%{background-image: url(imagenes/residencial1.jpg);}
}

#navegador{
    width: 100vw;
    height: 10vw;
    background-color: rgba(0, 3, 2, 0.936);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo{
    width: 11.25rem;
    margin-left: 4.7rem;
    margin-right: 25rem;
}

a{
    text-decoration: none;
    color: rgb(20, 237, 201);
    padding: 15px;
}

a:hover{
    background-color: rgba(3, 107, 242, 0.297);
    border-radius: 2rem;
}

#lista{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 23px;
    color: rgb(20, 237, 201);

}
#lista_contenedor{
    justify-content: flex-end;
    position: relative;
}

.pepe_principal{
    margin: auto;
}

#pepe_principal{
    background-image: url(imagenes/residencial1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: animacion;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    width: 100vw;
    padding-top: 4rem;
    padding-bottom: 11rem;
    margin-bottom: 0;
}

#pepelectric{
    background-color: rgba(36, 204, 238, 0.697);
    width: 30.5vw;
    padding: 1.5rem;
    margin-bottom: 0;
    margin: auto;
    font-size: 2.5rem;
    color: white;
    margin-top: 4rem;
}

#pepe_1{
    background-color: rgba(6, 6, 6, 0.702);
    width: fit-content;
    padding: 1rem;
    color: white;
    font-size: 6rem;
    margin-top: 0;
    margin: auto;
    
}

#pepe_2{
    background-color: rgba(34, 37, 36, 0.87);
    width: fit-content;
    padding: 15px;
    color: white;
    font-size: 80px;
    margin-top: 0;
    margin: auto;
}

#menu_vertical{
    display: none;
    position: absolute;
    top: 90%;
    padding-top: 2rem;
    background-color: rgba(0, 0, 0, 0.72);


}

#lista li:hover #menu_vertical{
    display: block;
    text-decoration: none;
    list-style: none;
    margin-bottom: 15px;
}
#lista_contenedor #menu_vertical li {
    margin-bottom: 15px;
}
#seccion_contacto{
    display: flex;
    margin-top: 250px;
    background-image: url(imagenes/pared_foco.avif);
    padding-top: 100px;
    margin-top: 0;
    height: 500px;
}

#contacto{
    color: rgb(10, 10, 10);
    font-size: 50px;
}

#contacto_div{
    height: 450px;
    width: 360px;
    background-color: #060606b5;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 50px;
    padding-right: 50px;
    border-radius: 15px;

}

#body_contacto{
    width: 100%;
    margin: 0;
    margin-bottom: 0;

}

@keyframes animacion {
    0%{background-image: url(imagenes/lampara_comercial.jpg);}
    50%{background-image: url(imagenes/mantenimiento.jpg);}
    100%{background-image: url(imagenes/residencial1.jpg);}
}

#telefono{
    background-color: rgba(126, 249, 208, 0.108);
    border-radius: 15px;
    width: fit-content;
    padding: 30px;
    margin-left: 30px;
    color: white;
}

#titulo_cont{
    width: 310px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 50px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    
    color: rgba(249, 248, 248, 0.976);
}

.iconos_contacto{
    width: 100vw;
    display: flex;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.79);
    margin: auto;
    justify-content: space-between;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: auto;
    background-color: #060606b5;
    padding: 50px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

input{
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px;
}

textarea{
    border-radius: 10px;
    margin-bottom: 15px;
}

#enviar{
    margin-top: 25px;
    background-color: #cf8655;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    margin: auto;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

#enviar:hover{
    color: #495ebd;
}

#deje_mensaje{
    color: whitesmoke;
    margin-top: 0px;
}

#seccion_contacto{
    background-repeat: none;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

.botones_contacto{
    width: 100px;
    text-align: center;
    align-content: center;
}

#area_cobertura{
    width: 400px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.531);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

#how{
    background-image: url(imagenes/atico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:unset;
    margin: 0;
    animation-name: animacion;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 60px;
    background-color: rgba(36, 204, 238, 0.697);
    color: white;
    text-align: end;
    margin-top: 0;
    padding-top: 50px;
    height: 500px;
}
.emergency{
    background-color: rgba(36, 204, 238, 0.314);
    text-align: center;
    color: white;
    font-size: 2.3rem;
    width: 100vw;
    padding-top: 2rem;
    padding: 2rem 0 2rem 0;
    background-image: url(imagenes/pared_foco.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.seccion_final{
    background-image: url(imagenes/pared_foco.avif);
    background-position: center;
}

.seccion_final_index{
    width: 100vw;
    margin-top: 50px;
    background-image: url(imagenes/pared_foco.avif);
    background-position: center;
}
footer {
    background-color: rgba(0, 8, 9, 0.648);
    color: rgb(254, 252, 252);
    text-align: center;
    padding: 0.5em 0 0.5rem 0;
    margin-top: 0;
    font-size: 1.2rem;
    width: 100vw;
}



#titulo_about{
    background-color: rgba(36, 204, 238, 0.697);
    background-image: url(imagenes/colores.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-bottom: 30px;
    height: 450px;
    padding-top: 50px;
    font-size: 60px;
    color: white;
    text-align: end;
    padding-right: 100px;
}
#seccion_about{
    margin-top: 70px;
    margin-bottom: 70px;
}
#history{
    font-size: 30px;
    width: fit-content;
    padding: 15px;
    color: rgb(6, 6, 6);
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.156);
}

#parrafo_about{
    color: rgb(7, 7, 7);
    font-size: 20px;
    margin-left: 100px;
}

#parrafo_residencial{
    font-size: 24px;
    color: rgb(5, 5, 5);
    width: 80%;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
}

#div_residencial{
    background-image: url(imagenes/residencial1.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_reparacion{
    background-image: url(imagenes/herramientas.webp);
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_mantenimiento{
    background-image: url(imagenes/mantenimiento.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_iluminacion{
    background-image: url(imagenes/lampara_comercial.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#div_comercial{
    background-image: url(imagenes/comercial_foto.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}

#seccion_emergency_index{
    margin-top: 100px;
}

#seccion_emergency_index2{
    width: 100vw;
    margin-top: 0px;
    background-image: url(imagenes/pared_foco.avif);
}

#seccion_emergency_index3{
    margin-top: 0px;
}

.imagenes_boton{
    display: flex;
    width: max-content;
}

figure {
    margin-right: 0px; /* Margen entre cada imagen */
    position: relative; /* Para posicionar el título con respecto a la imagen */
    margin-left: 30px;
  }
  
  figure img {
    width: 200px; /* Tamaño fijo para todas las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15vw;
    background-color: rgb(0, 0, 0); /* Fondo semitransparente */
    color: white;
    padding: 0.3rem;
    margin: 0;

  }
  .link_fotos:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.42);
  }
  .fotitos{
    width: 15vw;
    height: 25vh;
  }

  .fila {
    display: flex;
    width: 100vw;
  }
  #menu_hamburguesa{
    display: none;
    border-radius: .5rem;
    background-color: #49bd94;
}
#cerrar{
    display: flex;
}


  @media screen and (max-width: 991px) {
    #body_index{
        width: 100vw;
    }
    #body_contacto{
        width: 100vw;
        margin: 0;
    }
    #contacto_div{
        width: 100vw;
    }
    #body_contacto #navegador{
        width: 100vw;
    }
    #contacto_div{
        width: 80vw;
        margin-left: 15px;
        padding-bottom: 35px;
    }
    #seccion_contacto{
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 54.4rem;
    }
    #formulario{
        width: 71%;
        margin-left: 1rem;
    }
    #area_cobertura{
        width: 90%;
        margin-left: 1rem;
    }
    #contacto_global{
        background-image: url(imagenes/pared_foco.avif);
        background-size: contain;
        background-repeat:repeat-y;
        background-position: center;
    }
    #how{
        width: 96%;
        font-size: 40px;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 0;
    }
    #titulo_about{
        font-size: 50px;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        background-color: rgba(36, 204, 238, 0.697);
        margin-bottom: 70px;
    }
    #seccion_about{
        width: 100%;
        margin: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: left;
    }

    #body_about{
        width: 100%;
    }

    #historia{
        margin-bottom: 50px;
    }

    #pepe_2{
        width: 80%;
        font-size: 45px;
    }
    #parrafo_residencial{
        width: fit-content;
        margin-left: 10px;
        margin: 10px; 
        text-align: left;
    }
    #pepelectric{
        margin-top: 2.5rem;
        width: 60vw;
        font-size: 1.2rem;

    }
    #pepe_1{
        width: 80vw;
    }
    #logo{
        width: 9.2rem;
        margin-left: 0;
        margin-right: 0;
    }

    .lista_contenedor{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        width: 50%;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        background-color: #030303c8;
        text-align: center;
        align-content: center;
        margin: 0;
        margin-top: 8rem;
        padding: .5rem;
        width: 95%;
    }

    #menu_vertical{
        background-color: rgb(3, 3, 0);
        top: 8rem;
        padding-top: 2rem;
        text-align: left;
        padding: 1rem 1rem 0 1rem;
   
    }

    .visible{
        opacity: 1;
        visibility: visible;
    }
    #menu_hamburguesa{
        display: flex;
        text-align: center;
        margin-left: 0;
        }
    #navegador{
        display: flex;
        height: 7rem;
        margin: 0;
        top: 0;
        right: 0;
        width: 90vw;
        padding-right: 10vw;
    }
    #body_index{
        width: 100vw;
        background-size: contain;
        margin: 0px;

    }

    .fila{
        display: flex;
        flex-direction: column;
    }
    .iconos_contacto{
        display: flex;
        padding-left: .7rem;
        align-content:center;
        width: 97.5vw;
    }
    .botones_contacto{
        width: 50vw;
        margin: 0;
        display: flex;
        align-items:center ;
        padding: 0;
        margin: 0;
    }
    #seccion_emergency_index2{
        margin-top: 0px;
        padding:1.5rem 0 1.5rem 0;
    }
    #history{
        text-align: left;
        padding-left: 10px;
        margin-left: 0px;
        width: 95%;
    }

    .emergency{
        font-size: 2rem;
        color: white;
        text-align: left;
        padding-left: 0.5rem;
        max-width:98.2vw;
        background-color: rgba(0, 0, 0, 0.44);
        text-shadow: 1 1 .25rem #333
    }

    .fotitos{
        width: 100%;
    }
    figcaption{
        width: 100%;
    }

    footer{
        margin-top: 0;
        margin-bottom: 0;
    }

}
